*.class

# Package Files #
*.jar
*.war
*.ear
*.orig
*.iml
.idea/*
target/*
/vl-jung/target/
/vl-jung-extensions/target/
/vl-jung-demo/target/
/vl-jung-nbm/target/
/maven-dependency-graph-fork/target/
/vl-jung-demo/nbproject/